.sidebar{
    height: 100vh;
}

.ant-row {
    flex-flow: nowrap;
}

.user-detail{
    padding: 30px 20px;
}

.user-detail__title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 40px 180px;
    padding-bottom: 20px;
    border-bottom: 4px solid black;
}

.user-detail__info{
    margin: 0px 180px;
    align-items: center;
}

.user-detail__list-roles{
    padding: 40px 100px;
}

.user-detail__list-roles--title{
    font-size: 1.2rem;
    font-weight: bold;
}